parameters:
    level: 8
    paths:
        - src
    ignoreErrors:
        # WordPress globals
        - '#Constant WP_CONTENT_DIR not found#'
        - '#Constant ABSPATH not found#'
        - '#Function apply_filters not found#'
        - '#Function add_action not found#'
        - '#Function add_filter not found#'
